<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Prolancer" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap",  "flexslider", "style", "font-awesome.min" %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" %>
</head>
<body>
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
<nav class="navbar navbar-header navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ProLancer</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Sign In</a></li>
    </ul>
  </div>
</nav>
  </div>
<div class="home-sec">
  <div class="overlay">
    <div class="container">
      <div class="row text-center " >

        <div class="col-lg-12  col-md-12 col-sm-12">

          <div class="flexslider set-flexi" id="main-section" >
            <ul class="slides move-me">
              <li>
                <h4>Welcome to</h4>
                <h1>ProLancer</h1>
                <h4>Looking for a freelance service provider?</h4>
              </li>
              <li>
                <h4>India's most reliable marketplace for all services</h4>
                <h1>ProLancer</h1>
                <h4>Do you want to work as service provider?</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  <div class="website-body">
    <%= yield %>
  </div>

<div id="footer">
  &copy 2016 prolancer.co.in | All Rights Reserved |
  <a href="http://prolancer.co.in" style="color: #fff" target="_blank">Designed by : prolancer.co.in</a>
</div>
<!-- /container -->
<!--  Jquery Core Script -->
<%= javascript_include_tag "jquery-1.10.2", "bootstrap", "jquery.flexslider", "jquery.flexslider", "scrollReveal", "jquery.easing.min", "custom" %>
</body>
</html>

