<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Prolancer" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag  "flexslider", "font-awesome.min",  "bootstrap",  "bootcards-desktop.min","style" %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" %>
</head>
<body>
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
  <nav class="navbar navbar-header navbar-inverse navbar-fixed-top ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ProLancer</a>
      </div>

      <div class="nav navbar-nav navbar-right">
        <ul><%= if not session[:user_id].nil? then
                  image_tag "#{session[:user_image]}"
                end %></ul>
      </div>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="">HOME</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li><%= if not session[:user_id].nil? then
                  link_to "SIGNOUT", signout_path, :class => "btn btn-custom btn-facebook btn-block"
                end %></li>
      </ul>

    </div>
  </nav>
</div>
<div class="home-sec">
  <div class="overlay">
    <div class="container">
      <div class="row text-center ">

        <div class="col-lg-12  col-md-12 col-sm-12">

          <div class="flexslider set-flexi" id="main-section">
            <ul class="slides move-me">
              <li>
                <h4>Welcome to</h4>
                <h1>ProLancer</h1>
              </li>
              <li>
                <h4>Welcome to</h4>
                <h1>ProLancer</h1>
                <h3>India's most reliable service marketplace</h3>
              </li>
            </ul>
          </div>
          <div class="container" id="login">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-wrap">
                  <%= if session[:user_id].nil? then
                        link_to "LOGIN WITH FACEBOOK", '/auth/facebook', :class => "btn btn-custom btn-facebook btn-block" end %>
                  <%= if session[:user_id].nil? then
                        link_to "LOGIN WITH EMAIL OR PH#", '/welcome/login', :class => "btn btn-custom btn-info btn-block"
                      end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="website-body">
  <%= yield %>
</div>

<div id="footer">
  &copy 2016 prolancer.co.in | All Rights Reserved |
  <a href="http://prolancer.co.in" style="color: #fff" target="_blank">Designed by : prolancer.co.in</a>
</div>
<!-- /container -->
<!--  Jquery Core Script -->
<%= javascript_include_tag "jquery-1.10.2", "bootstrap", "jquery.flexslider", "jquery.flexslider", "scrollReveal", "jquery.easing.min", "custom", "bootcards.min" %>
</body>
</html>

